// Base style overrides
//---------------------

$base-background:             #ffffff;
$content-background:          #ffffff;
$aside-background:            #eeeeee;
$content-border-color:        #cccccc;
$btn-secondary-background:    #ffffff;
$preheader-color:             #727272;