include ../sectionheader/sectionheader

+sectionheader("pullquote")
table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents
            p.pullquote-lead(mc:edit="pullquote") "This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed."
            p.pullquote-author(mc:edit="pullquote-author") Name, position at Fordham, what they are talking about. Publication, Date
            p.pullquote-link(mc:edit="pullquote-link")
              a(href="", target="_blank") Read more highlighted faculty and staff who have recently provided commentary in the news media.
