// 
//  Section wrappers
//  ---------------------------------


.section-top {
  @include border-radius-top(4px);
  
  td {
    font-size: 10px;
    line-height: 10px;
    height: 10px;
  }
}

.section-bottom {
  @include border-radius-bottom(4px);
  
  td {
    font-size: 15px;
    line-height: 15px;
    height: 15px;
  }
}

@include bp(md) {
  .section-top {
    display: none !important;
  }
}
