doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    <!--[if !mso]><!-->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--<![endif]-->
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block title
      title Fordham University
    block typeface
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css', data-premailer='ignore')
    block style-template
    
    <!--[if (gte mso 9)|(IE)]>
    style.
      table {border-collapse: collapse;}
      table td,
      .contents {font-family: arial, sans-serif !important;}
    <![endif]-->
  body
    block body
