// 
//  Preheader
//  ---------------------------------


.footer {
  font-size: floor($font-size-base * .85);
  text-align: center;
}

.footer, .footer a {
  color: $meta-color;
}

.footer a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-unsub {
  font-weight: bold;
}
