table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.footer
            | *|IFNOT:ARCHIVE_PAGE|* 
            p.footer-sentto This email was sent to *|EMAIL|* by *|LIST:COMPANY|*
            
            p.footer-address *|HTML:LIST_ADDRESS_HTML|*
            p.footer-contact *|LIST:PHONE|*  |  *|ABUSE_EMAIL|*
            
            p.footer-unsub 
              a(href="*|ARCHIVE|*", target="_blank") View in Browser
              |  | 
              a(href="*|UPDATE_PROFILE|*", target="_blank") Update Your Profile
              |  |  
              a(href="*|UNSUB|*", target="_blank") Unsubscribe from All Fordham Emails
            
            | *|END:IF|*
            p.footer-copyright Copyright *|CURRENT_YEAR|* *|USER:COMPANY|*. All rights reserved.
