mixin footer
  td.inner.contents.footer(mc:edit="footer")
    block
    if (!block)
      | *|IFNOT:ARCHIVE_PAGE|*

      .footer-links
        a(href="*|ARCHIVE|*", target="_blank") Web Version
        |  &nbsp;
        a(href="*|FORWARD|*", target="_blank") Forward to a Friend
        |  &nbsp;
        a(href="http://www.fordham.edu/onlinegiving", target="_blank") Make Your Gift
        |  &nbsp;
        a(href="https://www.fordham.edu/info/21366/policies/8331/privacy_policy", target="_blank") Privacy Policy

      p.footer-sentto This email was sent to #[a(href="mailto:*|EMAIL|*") *|EMAIL|*] by <br /> *|LIST:ADDRESS|*

      p.footer-sentto *|LIST:DESCRIPTION|*

      | *|IF:IMCID|*
      .footer-links
        a(href="http://emailprefs.fordham.edu/?id=*|IMCID|*&email=*|EMAIL|*", target="_blank") Customize the types of emails you receive from Fordham.
      | *|END:IF|*

      .footer-links
        a(href="*|UNSUB|*", target="_blank") Unsubscribe *|EMAIL|* from all*|INTERESTED:CRM University:UMC-Employees,UMC-Students Active|* non-mandatory*|END:INTERESTED|* Fordham University emails.

      | *|END:IF|*
      p.footer-copyright Copyright *|CURRENT_YEAR|* *|USER:COMPANY|*. All&nbsp;rights&nbsp;reserved.

      p A copy of Fordham University's current annual report may be obtained, upon request, by writing to 441 East Fordham Road, Bronx, NY 10458 or to the New York State Attorney General’s Charities Bureau at 28 Liberty Street, 15th Floor, New York, NY 10005.
