table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.footer(mc:edit="footer")
            | *|IFNOT:ARCHIVE_PAGE|*

            p.footer-links
              a(href="*|ARCHIVE|*", target="_blank") Web Version
              |  &nbsp;
              a(href=`mailto:${contact}`, target="_blank") Contact Us
              |  &nbsp;
              a(href="*|FORWARD|*", target="_blank") Forward to a Friend
              |  &nbsp;
              a(href="http://www.fordham.edu/onlinegiving", target="_blank") Make Your Gift

            p.footer-sentto This email was sent to
              a(href="mailto:*|EMAIL|*")  *|EMAIL|*
              |  by *|LIST:ADDRESS|*

            p.footer-sentto *|LIST:DESCRIPTION|*
            
            p.footer-links
              | *|IF:IMCID|*
              a(href="http://emailprefs.fordham.edu/id=*|IMCID|*", target="_blank") Customize the types of emails you receive from Fordham.
            p.footer-links
              | *|END:IF|*
              a(href="*|UNSUB|*", target="_blank") Unsubscribe from all Fordham University emails.
            
            | *|END:IF|*
            p.footer-copyright Copyright *|CURRENT_YEAR|* *|USER:COMPANY|*. All&nbsp;rights&nbsp;reserved.
