table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.footer
            | *|IFNOT:ARCHIVE_PAGE|* 
            p.footer-sentto This email was sent to *|EMAIL|* by *|LIST:COMPANY|*
            
            p.footer-contact *|HTML:LIST_ADDRESS_HTML|* <br />
              | *|LIST:PHONE|*  |  *|ABUSE_EMAIL|*
            
            p.footer-unsub 
              a(href="*|UPDATE_PROFILE|*", target="_blank") Update Subscription Preferences
              a(href="*|UNSUB|*", target="_blank") Unsubscribe From All Fordham Emails
            
            | *|END:IF|*
            p.footer-copyright Copyright *|CURRENT_YEAR|* *|USER:COMPANY|*. All&nbsp;rights&nbsp;reserved.
