// Base style overrides
//---------------------

$base-background:             #ffffff;
$content-background:          #ffffff;
$aside-background:            #eeeeee;
$content-border-color:        #cccccc;
$btn-secondary-background:    #ffffff;


// Default styles
//-------------------

@import "base";


// Components
//-------------------

@import "preheader",
        "break",
        "colorblocks",
        "masthead-news",
        "social-banner",
        "insidefordham",
        "pullquote",
        "column",
        "footer";
