// Default styles
//-------------------

@import "fordhamnews-overrides",
        "base-inlined";


// Components
//-------------------

@import "block-inlined",
        "break-inlined",
        "column-inlined",
        "preheader-inlined",
        "masthead-inlined",
        "social-inlined",
        "socialcard-inlined",
        "sectionheader-inlined",
        "eventlist-inlined",
        "tagline-inlined",
        "footer-inlined";


//
//  Masthead
//  ---------------------------------

.masthead {
  padding-bottom: 10px;
  padding-top: 20px;
}


//
//  Inside Fordham
//  ---------------------------------

.if-list .inner {
  padding-top: 20px;
}

.if-list .section-header {
  padding-top: 10px;
}

.if-logo img {
  width: 400px;
  overflow: visible;
}

.event-list2 {
  padding-top: 0;
}

.event-date {
  padding-left: 15px;
}

.h4 {
  font-size: floor($font-size-base * 1.15);
  font-weight: $font-weight-bold;
  line-height: 1.4;
}


//
//  Pullquote
//  ---------------------------------

.pq-cont {
  background-color: $aside-background;

  .contents {
    color: $aside-color;
  }

  .section-header {
    padding: $container-gutter+10 $outer-padding+$container-padding 5px;
  }
}

.pq-author {
  font-size: ceil($font-size-base * .8);
  text-transform: uppercase;
}
