// Default styles
//-------------------

@import "fordhamnews-overrides",
        "base-inlined";


// Components
//-------------------

@import "block-inlined",
        "break-inlined",
        "column-inlined",
        "preheader-inlined",
        "masthead-inlined",
        "social-inlined",
        "socialcard-inlined",
        "tagline-inlined",
        "footer-inlined";


//
//  Inside Fordham
//  ---------------------------------

.if-logo img {
  width: 400px;
  overflow: visible;
}


//
//  Section header
//  ---------------------------------

.section-header {
  font-weight: $font-weight-bold;
}


//
//  Pullquote
//  ---------------------------------

.pq-cont {
  background-color: $aside-background;

  .contents {
    color: $aside-color;
  }

  .section-header {
    padding: $container-gutter+10 $outer-padding+$container-padding 5px;
  }
}

.pq-author {
  font-size: ceil($font-size-base * .8);
  text-transform: uppercase;
}
