// Color Block Mixin
//---------------------

@mixin color-block($background, $outer, $text, $button) {
  background: $background;
  
  .outer {
    background: $outer;
  }
  
  .contents {
    color: $text;
  }
  
  .btn {
    background-color: $button;
    border-color: darken($button, 10%);
    
    @if lightness($button) < 50% {
      color: #ffffff;
    }
    
    @else {
      color: $text-color;
    }
  }
}


// Color Block
//---------------------


// Header (Primary color)
//---------------------

.color-block--header {
  @include color-block($primary-color, none, $text-color, #2c8db3);
  
  @include bp(sm) {
    padding-top: 0 !important;
    border-top-width: 0 !important;
  }
  
  @include bp(md) {
    background: $primary-color !important;
  }
}


// Lead (Primary color)
//---------------------

.color-block--lead {
  @include color-block($primary-color, #ffffff, $text-color, $primary-color);
  
  @include bp(sm) {
    padding-top: 0 !important;
    border-top-width: 0 !important;
  }
}


// Aside (Aside color)
//---------------------

.color-block--aside {
  @include color-block($aside-background, transparent, $aside-color, $btn-secondary-background);
  
  @include bp(md) {
    background: $aside-background !important;
  }
}
