// Color Block Mixin
//---------------------

@mixin color-block($background, $text, $button) {
  background: $background;
  border-top: 1px solid darken($background, 7%);
  border-bottom: 1px solid darken($background, 7%);
  
  .contents {
    color: $text;
  }
  
  .btn {
    background-color: $button;
    border-color: darken($button, 10%);
    
    @if lightness($button) < 50% {
      color: #ffffff;
    }
    
    @else {
      color: $text-color;
    }
  }
}


// Color Block
//---------------------

.color-block {
  padding-top: $container-gutter;
  padding-bottom: $container-gutter;
  Margin-top: $container-gutter;
  Margin-bottom: $container-gutter;
}

.color-block .section-header .inner {
  padding-top: 0;
}


// Lead (Primary color)
//---------------------

.color-block--lead {
  @include color-block($primary-color, #ffffff, #2c8db3);
  
  a {
    color: #ffffff;
  }
}


// Aside (Aside color)
//---------------------

.color-block--aside {
  @include color-block($aside-background, $aside-color, $btn-secondary-background);
  box-shadow: inset 0 0 2px darken($aside-background, 7%);
}
