// 
//  Section header
//  ---------------------------------


.section-header {
  text-transform: uppercase;
  padding-bottom: 0px;
  font-weight: $font-weight-bold;
  color: $meta-color;
}

.has-section-header .inner {
  padding-top: 15px;
  
  &.section-header {
    padding-top: $container-gutter - ($line-height-computed - $font-size-base)/2;
  }
}
