mixin sectionheader-container(hideable)
  if hideable
    table.outer(mc:hideable)
      block
  else
    table.outer
      block
mixin sectionheader(namespace, hideable)
  +sectionheader-container(hideable)
    tr
      td.one-column
        table(width='100%')
          tr
            td.inner.contents.section-header(mc:edit=`${namespace}-sectionheader`)
              | Section Header
