mixin sectionheader(namespace)
  table.outer.section-header(mc:hideable)
    tr
      td.one-column
        table(width='100%')
          tr
            td.inner.contents(mc:edit=`${namespace}-sectionheader`)
              | Section Header
