mixin sectionheader(namespace, options)
  - namespace = (namespace) ? namespace + '-' : ''
  td.inner.contents.section-header(mc:edit=`${namespace}sectionheader`)
    block
    if (!block)
      | Section Header
