extends ../_layouts/default/default.jade

block title
  title Fordham Newsletter
block style-template
  link(rel='stylesheet', type='text/css', href='styles/event-single-short.css')

block body
  center.wrapper.header
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
      include ../_components/preheader/preheader.jade
      include ../_components/masthead/masthead.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
      include ../_components/event/event-column.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
      include ../_components/paragraph/paragraph.jade
      include ../_components/sectionheader/sectionheader.jade
      include ../_components/columns/asidecolumn.jade
      
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--seamless.giving-block
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
      include ../_components/giving/giving-banner.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
