table.outer(mc:hideable)
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.magazine-footer--inner
            .magazine-footer(mc:edit="magazine-footer")
              em FORDHAM
              |  magazine is printed twice a year, in fall and spring, and updated regularly online. Our monthly email includes stories from the print edition plus timely news and features found only at fordham.edu/magazine.
