// Social Icons
//---------------------

.social-banner,
.social-banner-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.two-column .social-banner-text {
  text-align: right;
}

.social-banner-text a {
  color: $text-color;
}

.two-column .social-banner,
.social-banner {

  img {
    max-width: 24px;
    padding-right: 8px;
  }
  a:last-child img {
    padding-right: 0px;
  }
}

@include bp(md) {
  .two-column .column .social-banner img {
    max-width: 24px !important;
  }
}

@include bp(sm) {
  .two-column .column {
    .social-banner,
    .social-banner-text {
      text-align: center !important;
    }
    .social-banner {
      padding-bottom: 15px !important;
    }
    .social-banner-text {
      padding-bottom: 5px !important;
    }
  }
}
