// Social Icons
//---------------------

.social-banner--container {
  border: 2px solid darken($aside-background, 13%);
}

.social-banner,
.social-banner-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-banner {
  line-height: 1;
}

.two-column .social-banner-text {
  text-align: right;
}

.social-banner-text a {
  color: $text-color;
}

.two-column .social-banner,
.social-banner {
  img {
    max-width: 24px;
    overflow: visible;
  }
}

@include bp() {
  .two-column .column .social-banner img {
    max-width: 24px !important;
  }
}

@include bp(sm) {
  .two-column .column {
    .social-banner,
    .social-banner-text {
      text-align: center !important;
    }
    .social-banner {
      padding-bottom: 15px !important;
    }
    .social-banner-text {
      padding-bottom: 5px !important;
    }
  }
}
