//
//  Full ad
//  ---------------------------------


.fullimage {
  max-width: 100%;
  padding: 0;

  img {
    display: block;
    width: 100%;
  }

  @include bp(md) {
    padding: 0 !important;
  }
}