//
//  Full-width image
//  ---------------------------------


.fullimage {
  max-width: 100%;
  line-height: 0px;

  img {
    display: block;
    width: 100%;
  }
}

.fullimage,
.cont .fullimage {
  padding: 0;
}

