mixin fullimage(namespace)
  - namespace = (namespace) ? namespace + '-' : ''
  table.outer.fullimage
    tr
      td.inner.contents.full-width-image
        if block
          block
        else
          img(src=`http://placehold.it/${width*1.5}x${width/1.2}`, width=width, alt='', mc:edit=`${namespace}column-image`)