mixin fullimage(namespace)
  - namespace = (namespace) ? namespace + '-' : ''
  tr
    td.inner.contents.fullimage
      block
      if (!block)
        img(src=`http://placehold.it/${width*1.5}x${width/1.2}`, width=width, alt='', mc:edit=`${namespace}column-image`)