mixin fullimage(namespace)
  - namespace = (namespace) ? namespace + '-' : ''
  td.inner.contents.fullimage
    block
    if (!block)
      img(src=`http://quickimage.it/${width*1.5}x${width/1.2}`, width=width, alt='', mc:edit=`${namespace}image`)