mixin fullimage(namespace)
  - namespace = (namespace) ? namespace + '-' : ''
  td.inner.contents.fullimage
    block
    if (!block)
      img(src=`https://placehold.it/${container*1.5}x${Math.floor(container/1.2)}`, width=container, alt='', mc:edit=`${namespace}image`)