// Article list
//---------------------


.article-cont {
  padding-top: 10px;
}

.article {
  list-style: none;
  padding: 0;

  li {
    Margin-bottom: 0;
    padding: 15px 0;
  }
}

.article-item {
  border-bottom: 1px solid $aside-background;
}

li.article-more {
  text-align: center;
}

