// Article list
//---------------------


.article-cont {
  padding-top: 10px;
}

.article-item {
  padding: 15px 0 7px;
  border-bottom: 1px solid $aside-background;

  .textlink {
    Margin-bottom: 8px;
  }
}

.article-more {
  padding: 25px 0;
  text-align: center;
}

