// Article list
//---------------------

.article-list {
  list-style: none;
  Margin: 0;
  padding: 0;
  
  li {
    border-bottom: 1px solid $aside-background;
    padding-top: 15px;
    padding-bottom: 15px;
    Margin-bottom: 0;
    font-size: ceil($font-size-base * 1.25);
    
    small {
      display: block;
      color: $text-color;
      font-size: $font-size-base;
    }
  }
  
  a {
    display: block;
    color: $text-color;
  }
  
  h4, h5 {
    Margin-bottom: 0;
  }
  .article-list--first {
    padding-top: 0;
  }
}
