// Article list
//---------------------


.article-cont {
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-item {
  padding: ($container-gutter - 10) 0;
  border-bottom: 1px solid $aside-background;
}

.article-more {
  padding: 15px 0;
  text-align: center;
}

