// Article list
//---------------------


.article-list {
  
  li {
    border-bottom: 1px solid $aside-background;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@include bp(sm) {
  .article-list--more {
    text-align: left !important;
  }
}