table.outer.header
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents
            ul.article-list
              li.article-list--first
                h4
                  a(href='#') This is an Article Title
              li 
                h4
                  a(href='#') This is Another Article Title
              li 
                h4
                  a(href='#') This is a Longer Article Title It's Got a Much Longer Name Than the Others
              li 
                h4
                  a(href='#') Here is a Fourth Article
              li 
                h4
                  a(href='#') Now We Have Lots of Article Titles
              li.article-list--last 
                h4
                  a(href='#') This is the Last Article Title
