- var titles = ["This is an Article Title","This is Another Article Title","This is a Longer Article Title It's Got a Much Longer Name Than the Others","Here is a Fourth Article","Now We Have Lots of Article Titles","This is the Last Article Title"]

table.outer.header
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents
            ul.article-list
              each val, i in titles
                li(class="#{(i === 0) ? 'article-list--first' : ''}#{(i === titles.length - 1) ? 'article-list--last' : ''}")
                  h5
                    a(href='#') #{val}
