mixin article-container
  td.inner.contents.article-cont
    table(width='100%')
      block

mixin article-item(namespace)
  - namespace = (namespace) ? namespace + '-' : ''

  tr(mc:repeatable=`${namespace}article`)
    td.article-item(mc:edit="article-desc")
      block
      if (!block)
        h4 This is a default title.
        .textlink This is some default content. It's not meant to be very long. It's just a preview of the article.

mixin article-more(namespace)
  - namespace = (namespace) ? namespace + '-' : ''
  tr
    td.article-more(mc:edit="article-more", mc:hideable)
      block
      if (!block)
        | View more.