table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.article-list--container
            ul.article-list
              each article in articles
                li(mc:repeatable="article-list")
                  h5(mc:edit="article-title")
                    a(href='#') #{article.title}
                  .article-list--desc(mc:edit="article-desc")
                    | #{article.desc}
