extends ../_layouts/default/default
include ../_components/buttons/btn
include ../_components/break/break
include ../_components/columns/columns
include ../_components/preheader/preheader
include ../_components/articlelist/articlelist
include ../_components/sectionheader/sectionheader
include ../_components/fullimage/fullimage
include ../_components/masthead/masthead
include ../_components/footer/footer
include ../_components/eventlist/eventlist
include ../_components/social/social
include ../_components/tagline/tagline
include ../_components/fullad/fullad

block style-template
  <!-- build:css inline styles/default.css -->
  link(rel='stylesheet', href='styles/default.css', data-premailer='ignore')
  <!-- /build -->
  link(rel='stylesheet', href='styles/default-inlined.css')

block body
  center.wrapper.color-block--lead
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer.outer-alt
        tr(mc:repeatable="preheader", mc:variant="Visible Preheader")
          +preheader
        tr(mc:repeatable="preheader", mc:variant="Hidden Preheader")
          +preheader(true)
        each masthead in mastheads
          tr(mc:repeatable="masthead", mc:variant=masthead.variant)
            +masthead(masthead)
      table.outer
        tr.leadstory(mc:repeatable="lead", mc:variant="Title")
          +column("lead", {size: 1, heading: "h1", aspect: 0})
            h3 Tuesday, November 29
            .lead
              strong Fordham Law School
              br
              | 150 West 62nd Street, New York, N.Y.
        tr(mc:repeatable="lead", mc:variant="Break")
          +break
        tr(mc:repeatable="lead", mc:variant="Full-width Image")
          +fullimage("lead")
        tr(mc:repeatable="lead", mc:variant="Image")
          +column("lead", {size: 1, title: false, body: false, break: false})
        tr(mc:repeatable="lead", mc:variant="Content")
          +column("lead", {size: 1, title: false, aspect: 0})
            .lead This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text.
        tr(mc:repeatable="lead", mc:variant="Call to Action")
          td.inner.contents(style="padding-top: 0")
            +btn("lead", {size: 'lg'})
        tr(mc:repeatable="lead", mc:variant="Sixty-forty Columns (left image)")
          td.container.sixty-forty-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("lead", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("lead", {size: 6, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="lead", mc:variant="Sixty-forty Columns (right image)")
          td.container.sixty-forty-column(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("lead", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("lead", {size: 6, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="lead", mc:variant="Two-thirds Columns (left image)")
          td.container.three-column.column-img-full
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("lead", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("lead", {size: 23, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="lead", mc:variant="Two-thirds Columns (right image)")
          td.container.three-column.column-img-full(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("lead", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("lead", {size: 23, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="lead", mc:variant="Two Columns")
          td.container.two-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {fullimage: true, textlink: true})
            +column("column-2", {fullimage: true, textlink: true})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

  center.wrapper.color-block--default
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        tr(mc:repeatable="body", mc:variant="One Column Image")
          +column("column", {size: 1, title: false, body: false})
        tr(mc:repeatable="body", mc:variant="One Column Content")
          +column("column", {size: 1, title: false, aspect: 0})
        tr(mc:repeatable="body", mc:variant="Two Columns")
          td.container.two-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {fullimage: true, textlink: true})
            +column("column-2", {fullimage: true, textlink: true})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="body", mc:variant="Three Columns")
          td.container.three-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            +column("column-2", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            +column("column-3", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="body", mc:variant="Sixty-forty Columns (left image)")
          td.container.sixty-forty-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("column-2", {size: 6, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="body", mc:variant="Sixty-forty Columns (right image)")
          td.container.sixty-forty-column(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("column-2", {size: 6, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="body", mc:variant="Two-thirds Columns (left image)")
          td.container.three-column.column-img-full
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("column-2", {size: 23, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="body", mc:variant="Two-thirds Columns (right image)")
          td.container.three-column.column-img-full(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("column-2", {size: 23, aspect: false, heading: "h3", break: false})
            .break(mc:hideable) &nbsp;
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr(mc:repeatable="body", mc:variant="Section Header")
          +sectionheader("column")
        tr(mc:repeatable="body", mc:variant="Article List")
          +article-list--container
            +article-list--item("body")
            +article-list--more("body")

        tr(mc:repeatable="body", mc:variant="Event List")
          td.container.event-list
            +eventlist
        tr(mc:repeatable="body", mc:variant="Event More Link")
          +eventmore
        tr(mc:repeatable="body", mc:variant="Ad (with text)")
          +breaksection(bgcolor)
            table(width="100%")
              tr
                +fullad
        tr(mc:repeatable="body", mc:variant="Ad (full-width image)")
          +breaksection(bgcolor)
            table(width="100%")
              tr
                +fullad(true)
        tr(mc:repeatable="body", mc:variant="Section Break")
          +breaksection(bgcolor)
        tr(mc:repeatable="body", mc:variant="Break")
          +break
        tr(mc:repeatable="body", mc:variant="Break (dashed line)")
          +break({line: "dashed"})
        tr(mc:repeatable="body", mc:variant="Break (small solid line)")
          +break({line: "small"})
        tr
          td &nbsp;
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        tr
          +break
        tr(mc:repeatable="footer", mc:variant="Social Networks (Alumni)")
          +social(socialalumni)
        tr(mc:repeatable="footer", mc:variant="Social Networks (University)")
          +social(socialuniversity)
        tr(mc:repeatable="footer", mc:variant="Ad (with text)")
          +fullad
        tr(mc:repeatable="footer", mc:variant="Ad (full-width image)")
          +fullad(true)
        tr
          +tagline
        tr
          +footer
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->