extends ../_layouts/default/default
include ../_components/break/break
include ../_components/columns/columns
include ../_components/columns/sixtyfortycolumn
include ../_components/columns/twothirdscolumn
include ../_components/eventlist/eventlist
include ../_components/sectionheader/sectionheader

block style-template
  <!-- build:css inline styles/default.css -->
  link(rel='stylesheet', href='styles/default.css')
  <!-- /build -->

block body
  center.wrapper.header.color-block.color-block--header
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" bgcolor="#900028"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      include ../_components/preheader/preheader
      include ../_components/masthead/masthead
      include ../_components/masthead/masthead-dual
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.main.color-block.color-block--lead
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" bgcolor="#900028"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      include ../_components/sectionwrappers/sectiontop
      include ../_components/leadstory/leadstory
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.main
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      .featured(mc:repeatable="featured", mc:variant="one column")
        +column("featured", 1, 2)
      .featured(mc:repeatable="featured", mc:variant="one column (no image)")
        +column("featured", 1, -1)
      .featured(mc:repeatable="featured", mc:variant="two columns")
        +column("featured")
      .featured(mc:repeatable="featured", mc:variant="three columns")
        +column("featured", 3, 1.5)
      .featured(mc:repeatable="featured", mc:variant="two thirds (left image)")
        +column-twothirds("featured")
      .featured(mc:repeatable="featured", mc:variant="two thirds (right image)")
        +column-twothirds("featured", "rtl")
      .featured(mc:repeatable="featured", mc:variant="40/60 columns")
        +column-sixtyforty("featured")
      .featured(mc:repeatable="featured", mc:variant="60/40 columns")
        +column-sixtyforty("featured", "rtl")
      .featured(mc:repeatable="featured", mc:variant="list")
        include ../_components/articlelist/articlelist
      .featured(mc:repeatable="featured", mc:variant="eventlist")
        +eventlist("featured")
      .featured(mc:repeatable="featured", mc:variant="break")
        +break(false)
      .featured(mc:repeatable="featured", mc:variant="break with dashed line")
        +break("dashed")
      .featured(mc:repeatable="featured", mc:variant="break with small line")
        +break("small")
      include ../_components/sectionwrappers/sectionbottom
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
