extends ../_layouts/default/default
include ../_components/columns/columns

block style-template
  <!-- build:css inline styles/default.css -->
  link(rel='stylesheet', href='styles/default.css')
  <!-- /build -->

block body
  center.wrapper.color-block--default
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        tr
          td.inner.contents
            +column("featured", {size: 1, heading: "h3"})
        tr
          td.container.two-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {fullimage: true})
            +column("featured", {fullimage: true})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.three-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            +column("featured", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            +column("featured", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.sixty-forty-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 6, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.three-column.column-img-full
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 23, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.sixty-forty-column(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 6, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.three-column.column-img-full(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 23, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->