extends ../_layouts/default/default
include ../_components/buttons/btn
include ../_components/break/break
include ../_components/columns/columns
include ../_components/preheader/preheader
include ../_components/articlelist/articlelist
include ../_components/sectionheader/sectionheader
include ../_components/fullimage/fullimage
include ../_components/masthead/masthead
include ../_components/footer/footer
include ../_components/eventlist/eventlist
include ../_components/fullad/fullad

block style-template
  <!-- build:css inline styles/default.css -->
  link(rel='stylesheet', href='styles/default.css')
  <!-- /build -->

block body
  center.wrapper.color-block--lead
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer(style="background-color: #900028;")
        tr
          +preheader
        each masthead in mastheads
          +masthead(masthead)
      table.outer
        +fullimage
        +column("featured", {size: 1, heading: "h3", aspect: 0})
          p This is some lead copy. It's not much but I want to test some typeset text.
          +btn("featured", {size: "lg"}) Sign Up
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

  center.wrapper.color-block--default
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        +breaksection(bgcolor)
        tr
          +sectionheader
        +column("featured", {size: 1, heading: "h3"})
          p This is some lead copy. It's not much but I want to test some typeset text.
          +btn("featured", {size: "lg"}) Sign Up
        tr
          td.container.two-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {fullimage: true})
            +column("featured", {fullimage: true})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          +article-list--container
            +article-list--item
            +article-list--item
            +article-list--item
        tr
          td.container.three-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            +column("featured", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            +column("featured", {size: 3, aspect: 1.5, title: false}) This is a short bit of copy for the three-column layout.
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.sixty-forty-column
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 6, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        +breaksection(bgcolor)
          +fullad(true)
        tr
          td.container.three-column.column-img-full
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 23, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.sixty-forty-column(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 4, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 6, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          td.container.three-column.column-img-full(dir="rtl")
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("featured", {size: 3, aspect: 1.5, fullimage: true, title: false, body: false})
            +column("featured", {size: 23, aspect: false, heading: "h3"})
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        +breaksection(bgcolor)
          +fullad
        tr
          td.container.event-list
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +eventlist
            +eventlist
            +eventlist
            +eventlist
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          +eventmore
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        tr
          +footer
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->