// 
//  Column
//  ---------------------------------

.col-cat {
  padding-top: 3px;
  text-transform: uppercase;
}

.col-empty {
  padding-left: 0;
  padding-right: 0;
}

.col-img,
.col-img--solo {
  text-align: center;
  line-height: 1px;
}

.col-caption {
  display: block;
  padding-top: 5px;
  line-height: 1.6
}

.col-img {
  img {
    width: 100%;
  }
}

