// 
//  Column
//  ---------------------------------

.col-category {
  padding-top: 5px;
  text-transform: uppercase;
}

.col-title {
  color: $primary-color;
}

.col-img,
.col-img--solo {
  text-align: center;
}

.col-img--solo small {
  display: block;
  padding-top: 5px;
}

.col-img {
  img {
    width: 100%;
  }
}