// 
//  Column
//  ---------------------------------


@include bp(sm) {
  .col-img,
  .col-img--solo {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .col-img--solo img,
  .col-img-full .col img {
    max-width: 100% !important;
  }
  .col-img--solo small {
    padding-left: $container-padding !important;
    padding-right: $container-padding !important;
  }
}