// 
//  Column
//  ---------------------------------

.two-column .column-img--solo img,
.sixty-forty-column .column-img--solo img{
  padding-top: 7px;
}

.three-column .column-img--solo img {
  padding-top: 4px;
}

.column-img {
  padding-bottom: 0;
}

.column-textonly {
  padding-top: 0;
}

.column-img--solo {
  padding-bottom: $container-gutter;
}

.column-category {
  padding-top: 5px;
  text-transform: uppercase;
}

@include bp(sm) {
  .column-img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
  .column-img--solo {
    padding-top: 0 !important;
  }
}
