table.outer.sidebar-container
  - for (var i = 0; i < 3; i++)
    tr
      td.sidebar
        .column.aside
          table(width='100%')
            tr
              td.inner.contents
                img(src="http://placehold.it/90x80")
        .column.main
          table(width='100%')
            tr
              td.inner.contents 
                h5 First Last, Director of Something
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              
