.column
  table(width='100%')
    tr
      td.inner
        table.contents
          tr
            td.column-img
              a(href='#', target='_blank')
                block column-img
                  img(src='http://placehold.it/405x225', width='270', alt='')
          tr
            td.text
              h4
                a(href='#', target='_blank') Lorem ipsum dolor sit amet
              a.textlink(href='#', target='_blank')
                | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
