include column.jade

table.outer
  tr
    td.three-column
      <!--[if (gte mso 9)|(IE)]><table width="100%"><![endif]-->
      <!--[if (gte mso 9)|(IE)]><tr><td width="33%" valign="top"><![endif]-->
      
      +column(3, 1.5)
      
      <!--[if (gte mso 9)|(IE)]></td><td width="33%" valign="top"><![endif]-->
      
      +column(3, 1.5)
      
      <!--[if (gte mso 9)|(IE)]></td><td width="33%" valign="top"><![endif]-->
      
      +column(3, 1.5)
      
      <!--[if (gte mso 9)|(IE)]></td></tr><![endif]-->
      <!--[if (gte mso 9)|(IE)]></table><![endif]-->
