include ../sectionheader/sectionheader.jade
table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.if-logo
            img(src="57a87033-8db6-46f3-9635-947958e7e838.png", width="400")

.insidefordham(mc:repeatable="insidefordham")
  +sectionheader("if")
  table.outer
    tr
      td.three-column
        <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
        <!--[if (gte mso 9)|(IE)]><td width="33.33%" valign="top"><![endif]-->
        .column
          table(width='100%')
            tr
              td.inner.contents.column-img.column-img--solo
                img(src='http://placehold.it/690x394', width='190', alt='', mc:edit="if-column1-image")


        <!--[if (gte mso 9)|(IE)]></td><![endif]-->
        <!--[if (gte mso 9)|(IE)]><td width="66.66%" valign="top"><![endif]-->
        .column-2
          table(width='100%')
            tr
              td.inner.contents.if-list(mc:edit="if-column1-desc")
                ul
                  each bullet in bullets
                    li
                      a(href="", target="_blank") #{bullet.title}

        <!--[if (gte mso 9)|(IE)]></td><![endif]-->

        <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
