include ../buttons/btn.jade

table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.event
            h5 Some group presents
            h1 
              a(href="#" target="_blank") Some sort of event title
            .event-img
              img(src="http://placehold.it/400x250")
            h3 Saturday, February 8
            h4 Rose Hill Campus, Fordham University
            div(style="padding-top: 10px;") 
              +btn("large", "Register")
