// 
//  Break
//  ---------------------------------

.break,
.break-container {
  line-height: $container-gutter;
  height: $container-gutter;
}

.break {
  width: 90px;
  margin: 0 auto;
}

.break-container {
  padding: 0 $container-padding;
  text-align: center;
}

.break-dashed {
  border-top: 1px dashed $content-border-color;
}

.break-solid {
  border-top: 1px solid $content-border-color;
}

.break-small {
  border-top: 2px solid darken($content-border-color, 10%);
  display: inline-block;
  width: 100px;
}


//
//  Section Break
//  ---------------------------------

.section-bottom,
.section-top {
  background-color: $content-background;
}

.section-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.section-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}