mixin breakrow(hideable, reduce)
  -var cl = (reduce) ? 'break-reduce' : ''

  if hideable
    tr(mc:hideable, class=cl)
      block
  else
    tr(class=cl)
      block

mixin break(line, hideable, reduce)
  +breakrow(hideable, reduce)
    td.break
      if line
        div(class=`break-${line}`) &nbsp;
      else
        | &nbsp;
