mixin breakrow(hideable, reduce)
  -var cl = (reduce) ? 'break-reduce' : ''

  if hideable
    tr(mc:hideable, class=cl)
      block
  else
    tr(class=cl)
      block

mixin break(options)
  - var settings = Object.assign({line: false, hideable: false, reduce: false}, options)
  +breakrow(settings.hideable, settings.reduce)
    td.break
      if settings.line
        div(class=`break-${settings.line}`) &nbsp;
      else
        | &nbsp;
