mixin breaktable(hideable)
  if hideable
    table.outer(mc:hideable)
      block
  else
    table.outer
      block

mixin break(line, hideable)
  +breaktable(hideable)
    tr
      td.break
        if line
          div(class=`break-${line}`) &nbsp;
        else
          | &nbsp;
