// Giving block
//-------------------

/*
@tab Sections
@section Giving Block
@tip Set the style for the giving block
*/

.giving-block {
  /*@editable*/ background-color: #6d9297;
  /*@editable*/ border-top: 1px solid darken(#6d9297, 7%);
  /*@editable*/ border-bottom: 1px solid darken(#6d9297, 7%);
}

.giving-block .inner {
  padding: 0;
}

/*
@tab Sections
@section Giving Block
@tip Set the style for the giving block
*/
  
.giving-block .contents,
.giving-block a {
  /*@editable*/ color: #ffffff;
}

/*
@tab Sections
@section Giving Block Button
@tip Set the style for the giving block button
*/

.giving-block .btn {
  /*@editable*/ background-color: #a4dce3;
  /*@editable*/ border-color: darken(#f6ea5d, 10%);
  /*@editable*/ color: $text-color;
}


// Giving banner
//-------------------

.giving-banner {
  text-align: center;
  
  h4 {
    Margin-bottom: 0;
  }
  
  em {
    border-bottom: 2px solid #ffffff;
    white-space: nowrap;
  }
}
