table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.giving-banner
            h4 
              a(href="#", target="_blank") Support Fordham students. <em>Make your gift.</em>
