// Social Card
//---------------------


.sc-wrap {
  background-color: #ffffff;
}

.sc-cont {
  padding: 20px
}

.sc-img {
  padding-top: 5px;
}

.handle {
  color: lighten($text-color, 20%);
  font-size: 85%;
}