// 
//  Section wrappers
//  ---------------------------------


.section-bottom .webkit {
  border-radius: 0 0 4px 4px;
  padding: 0;
  
  td {
    font-size: 15px;
    line-height: 15px;
    height: 15px;
  }
}
