// Color Block Mixin
//---------------------

.cb-default {
  .outer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.cb-lead {
  .outer {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
