table.outer
  tr
    td.one-column
              
      table(width='100%')
        tr
          td.contents.inner.tagline
            a(href="#", target="_blank")
              img(src="img/175-tagline.png", width="270")
