mixin tagline
  td.contents.inner.tagline
    a(href="http://www.fordham.edu/175", target="_blank")
      block
      if (!block)
        img(src="https://gallery.mailchimp.com/e19eaab070a2a271d949326af/images/9644af7b-0155-4fb5-a113-e08181fc40ce.png", width="270", alt="Fordham: 175 Years of Service in New York", mc:edit="tagline")
