table.outer
  tr
    td.one-column
              
      table(width='100%')
        tr
          td.contents.inner.tagline
            img(src="img/175-tagline.png", width="270", alt="Fordham: 175 Years of Service in New York", mc:edit="tagline")
