table.outer
  tr
    td.one-column
              
      table(width='100%')
        tr
          td.contents.inner.tagline
            img(src="9644af7b-0155-4fb5-a113-e08181fc40ce.png", width="270", alt="Fordham: 175 Years of Service in New York", mc:edit="tagline")
