table.outer
  tr
    td.one-column
              
      table(width='100%')
        tr
          td.contents.inner.tagline
            a(href="#", target="_blank")
              img(src="37b205ac-f215-41cc-8059-14cc9a7a2b96.png", width="270", alt="Fordham: 175 Years of Service in New York")
