extends ../_layouts/default/default
include ../_components/break/break
include ../_components/columns/columns
include ../_components/columns/sixtyfortycolumn
include ../_components/sectionheader/sectionheader

block style-template
  <!-- build:css inline styles/magazine.css -->
  link(rel='stylesheet', href='styles/magazine.css')
  <!-- /build -->

block body
  center.wrapper.header
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/preheader/preheader
      include ../_components/masthead/masthead
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      .news(mc:repeatable="news")
        +column-sixtyforty("news", "ltr", 1.5, true)
      +break
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/magazinefooter/magazinefooter
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  - var social = false
