// Base style overrides
//---------------------

.lead,
.lead .outer {
  background: $primary-color;
}

.lead .outer {
  padding-top: $container-gutter * 2;
  padding-bottom: $container-gutter;
  Margin-bottom: $container-gutter;
  
  @media screen and (max-width: 600px) {
    padding-top: 0px !important;
  }
}

.lead .contents {
  color: #ffffff;
}

.lead a {
  color: #ffffff;
}

.lead .btn {
  //2c8db3
  //dfb451
  background-color: #2c8db3;
  border-color: darken(#2c8db3, 10%);
}
