// Base style overrides
//---------------------

$base-background:             #F3F3F5;
$aside-background:            $base-background;
$content-background:          #ffffff;
$content-border-width:        0px;
$btn-secondary-background:    #ffffff;


// Default styles
//-------------------

@import "base";


// Components
//-------------------

@import "sectionwrappers";
@import "break";
@import "masthead";
@import "preheader";
@import "colorblocks";
@import "leadstory";
@import "buttons";
@import "sectionheader";
@import "articlelist";
@import "column";
@import "eventlist";
@import "fullad";
@import "social";
@import "footer";
