// Base style overrides
//---------------------

$base-background:             #ffffff;
$content-background:          #ffffff;
$content-border-color:        #cccccc;
$preheader-color:             #727272;