// Base style overrides
//---------------------

$base-background:             #ffffff;
$content-background:          #ffffff;
$content-border-color:        #cccccc;
$content-border-width:        0px;


// Default styles
//-------------------

@import "base";


// Components
//-------------------

@import "preheader",
        "break",
        "column",
        "masthead-magazine",
        "magazinefooter",
        "footer";
