// 
//  Grid
//  ---------------------------------


// Multiple column layouts
//---------------------

.one-column {
	img {
		max-width: 100%;
		height: auto;
	}
}

.two-column,
.three-column,
.sidebar {
	font-size: 0;
	text-align: center;
	
	.column,
	.column-2 {
		width: 100%;
		display: inline-block;
	}
	
	img {
		width: 100%;
		height: auto;
	}
}

.two-column,
.three-column {
	
	.column {
		vertical-align: top;
	}
}

.sidebar {
	
	.column {
		vertical-align: top;
	}
	
	img {
		max-width: 120px - $container-padding*2;
	}
}


// Two column layout
//---------------------

.two-column {	
  
	.column {
		max-width: 300px;
	}
	
	img {
		max-width: 300px - $container-padding*2;
	}
	
	.text {
		padding-top: 10px;
	}
}


// Three column layout
//---------------------

.three-column {
	
	.column {
		max-width: 200px;
	
  	img {
  		max-width: 200px - $container-padding*2;
  	}
	
  	.contents {
    	text-align: center;
  	}
	}
	
	.column-2 {
  	max-width: 400px;
	
  	img {
  		max-width: 400px - $container-padding*2;
  	}
	
  	.contents {
    	text-align: left;
  	}
	}
	
	.text {
		padding-top: 10px;
	}
}


// Sidebar layout 
//---------------------

.sidebar {
	
	.aside {
		max-width: 120px;
	}
	
	.main {
		max-width: 480px;
	}
}

.sidebar-container .inner {
  padding-top: 0;
}

.sidebar-container {
  padding-top: $container-gutter;
}


// Media Queries
//---------------------

@media screen and (max-width: $screen-sm) {
  
	.two-column {
  	
		.column {
			max-width: 100% !important;
		}
		
		img {
			max-width: 100% !important;
		}
	}
	
	.three-column {
  	
		.column {
			max-width: 100% !important;
		}
		
		img {
			max-width: 50% !important;
		}
	}
}


@media screen and (max-width: 600px + $container-padding * 2) {
	
	.sidebar .main {
  	max-width: 100% !important;
  	
  	.contents {
    	text-align: center !important;
  	}
  	
  	.inner {
    	padding-top: 0 !important;
  	}
	}
}
@media screen and (min-width: $screen-sm + 1) and (max-width: 600px + $container-padding * 2) {
  
	.three-column .column {
		max-width: 33% !important;
	}
  
	.three-column .column-2 {
		max-width: 67% !important;
	}
	
	.two-column .column {
		max-width: 50% !important;
	}
}
