




// Multiple column layouts
//---------------------


.inner {
	padding: $container-gutter $outer-padding+$container-padding 0;
}

.cont {
	font-size: 1px;
	word-spacing: -1em;
	text-align: center;
	padding: 0 $outer-padding;

	.inner {
		padding-left: $container-padding;
		padding-right: $container-padding;
	}
}

.col,
.col-2 {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
