// 
//  Grid
//  ---------------------------------

@mixin column-width($width) {
  max-width: $width;
  
  img {
    max-width: $width - $container-padding * 2;
  }
    
  @media screen and (min-width: $screen-sm + 1) and (max-width: $outer-maxwidth + $container-padding * 2) {
    max-width: percentage($width / ($outer-maxwidth - $outer-padding * 2)) !important;
  }
  @media screen and (max-width: $screen-sm) {
		max-width: 100% !important;
		
    img {
      max-width: $width !important;
    }
  }
}


// Multiple column layouts
//---------------------

.one-column,
.two-column,
.three-column,
.sidebar {
  padding-left: $outer-padding;
  padding-right: $outer-padding;
}

.one-column {
	img {
		max-width: 100%;
		height: auto;
	}
}

.two-column,
.three-column,
.sidebar {
	font-size: 0;
	text-align: center;
	
	.column,
	.column-2 {
		width: 100%;
		display: inline-block;
	}
	
	img {
		width: 100%;
		height: auto;
	}
}

.two-column,
.three-column,
.sidebar {
	
	.column {
		vertical-align: top;
	}
	
	.contents {
  	text-align: left;
	}
	
	.text {
		padding-top: 10px;
	}
}


// Two column layout
//---------------------

.two-column {	
  
	.column {
		@include column-width(300px);
	}
}


// Three column layout
//---------------------

.three-column {
	
	.column {
		@include column-width(200px);
	
  	.contents {
    	text-align: center;
  	}
	}
	
	.column-2 {
		@include column-width(400px);
	}
}


// Sidebar layout 
//---------------------

.sidebar {
	
	.aside {
		@include column-width(120px);
	}
	
	.main {
		@include column-width(480px);
	}
}

.sidebar-container .inner {
  padding-top: 0;
}

.sidebar-container {
  padding-top: $container-gutter;
}


@media screen and (max-width: $outer-maxwidth + $container-padding * 2) {
  
  .one-column,
  .two-column,
  .three-column,
  .sidebar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
	
	.sidebar .main {
  	max-width: 100% !important;
  	
  	.contents {
    	text-align: center !important;
  	}
  	
  	.inner {
    	padding-top: 0 !important;
  	}
	}
}
