// 
//  Grid
//  ---------------------------------

@mixin column-width($width) {
	max-width: $width;

	@include bp(md) {
		max-width: percentage($width / $content-area) !important;
	}

	@if $width <= ($content-area / 3) {
		@include bp(sm) {
			img {
				max-width: $width !important;
			}
		}
	}
}


// Multiple column layouts
//---------------------


.inner {
	padding: $container-gutter $outer-padding+$container-padding;
}

.container {
	font-size: 0;
	text-align: center;
	padding: 0 $outer-padding;

	.inner {
		padding-left: $container-padding;
		padding-right: $container-padding;
	}
}

.column,
.column-2 {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: visible;
}

@include bp(md) {
	.container {
		padding: 0 !important;
	}
	.inner {
		padding-left: $container-padding !important;
		padding-right: $container-padding !important;
	}

	.column img,
	.column-2 img {
		width: auto !important;
		max-width: 100% !important;
	}
}

// Two column layout
//---------------------

.two-column {

	.column {
		@include column-width( $content-area / 2 );
	}
}


// Three column layout
//---------------------

.three-column {

	.column {
		@include column-width( $content-area / 3 );
	}

	.column-2 {
		@include column-width( $content-area / 3 * 2 );
	}
}


// Three column layout
//---------------------

.sixty-forty-column {

	.column {
		@include column-width( $content-area * .4 );
	}

	.column-2 {
		@include column-width( $content-area * .6 );
	}
}

@include bp(sm) {
	.container {
		.column,
		.column-2 {
			max-width: 100% !important;
		}
	}
}