// 
//  Reset Client-specific Styles 
//  ---------------------------------



.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: $base-font;
}

.webkit {
  max-width: $outer-maxwidth;
  overflow: visible;
}

.outer {
  Margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.contents {
  width: 100%;
}