// 
//  Scaffolding 
//  ---------------------------------


// Default content
//---------------------

.contents {
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  text-align: left;
  word-spacing: 0;
}