// 
//  Scaffolding 
//  ---------------------------------


// Default content
//---------------------

.contents {
  font-family: $base-font;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  text-align: left;
}