// 
//  Scaffolding 
//  ---------------------------------


// Links
//---------------------

/*
@tab Page
@section default links
@tip Set the link color and style
*/

a {
  /*@editable*/ color: $link-color;
  /*@editable*/ text-decoration: none;
}

/*
@tab Page
@section text link
@tip Should be the same color as the text
*/

.textlink {
  /*@editable*/ color: $text-color;
  /*@editable*/ text-decoration: none;
}


// Image defaults
//---------------------

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
  max-width: 100%;
  
  a & {
    border: 0;
  }
}

@include bp(md) {
  .main img {
    width: auto !important;
    max-width: 100% !important;
  }
}

.img_fix {
  display: block;
}

.full-width-image img {
  display: block;
  width: 100%;
  max-width: $outer-maxwidth;
  overflow: visible;
  height: auto;

  @include bp(md) {
  	max-width: 100% !important;
  }
}


// Default content
//---------------------

/*
@tab Page
@section default text style
@tip Set the default size color font family and weight
@style default text
*/

.contents {
  /*@editable*/ color: $text-color;
  font-family: $base-font;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  /*@editable*/ font-size: $font-size-base;
  /*@editable*/ text-align: left;
}
