// 
//  Type
//  ---------------------------------


// Paragraphs
//---------------------

p {
  padding: 0;
  Margin-bottom: 1.2em;
}


// Emphasis
//---------------------

small   { 
  color: lighten($text-color, 20%);
  font-size: 85%; 
}


// Headings
//---------------------

#{headings()} {
  Margin-top: 0;
  font-weight: $headings-font-weight;
}

#{headings(1, 2)} {
  Margin-bottom: floor($line-height-computed / 2);
  line-height: 1.2;
}

h3 {
  line-height: 1.4;
}

h4 {
  line-height: 1.5;
}

#{headings(3, 6)} {
  Margin-bottom: floor($line-height-computed / 3);
}

h1 { font-size: floor($font-size-base * 2.60); } 
h2 { font-size: floor($font-size-base * 2.15); }
h3 { font-size: ceil($font-size-base * 1.70); }
h4 { font-size: ceil($font-size-base * 1.25); }
h5 { font-size: $font-size-base; }
h6 { font-size: ceil($font-size-base * 0.85); }

@media screen and(max-width: $screen-sm) {
  h1 { font-size: floor($font-size-base * 2.60 * .8) !important; } 
  h2 { font-size: floor($font-size-base * 2.15 * .8) !important; }
  h3 { font-size: ceil($font-size-base * 1.70 * .8) !important; }
}


// Lists
//---------------------

ul {
  margin:0;
  Margin-bottom: ($line-height-computed - 7);
}
li {
  Margin-bottom: 7px;
}


// Body Text
//---------------------

.lead {
  font-size: ceil($font-size-base * 1.2);
}

.callout {
  font-size: ceil($font-size-base * 1.2);
  font-weight: $font-weight-bold;
}
