// 
//  Type
//  ---------------------------------


// Paragraphs
//---------------------

p {
  padding: 0;
  Margin: 0 0 1.2em 0;
}


// Emphasis
//---------------------

strong {
  font-weight: $font-weight-bold;
}


// Headings
//---------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight;
  Margin-top: 0;
}

h1, h2 {
  line-height: 1.4;
}


// Lists
//---------------------

ul, ol {
  Margin: 0;
}

li {
  Margin: 0 0 15px 0;

  &:last-child {
    Margin-bottom: 0;
  }
}


// Body Text
//---------------------

@include bp(sm) {
  .lead {
    font-size: ceil($font-size-base * 1.1) !important;
  }
}