// 
//  Lead Story
//  ---------------------------------


.leadstory {
  padding-bottom: 0;
}

.leadstory h1 {
  Margin-bottom: 0;
  color: $link-color;
}

.leadstory h3 {
  font-size: floor($font-size-base * 1.60);
  Margin-top: floor($line-height-computed / 3);
}

.leadevent,
.leadstory h1,
.leadstory h3 {
  text-align: center;
}

@include bp(sm) {
  .leadstory,
  .leadstory h1,
  .leadstory h3 {
    text-align: left !important;
  }
}

@include bp(sm) {
  .leadstory h3 {
    font-size: ceil($font-size-base * 1.1) !important;
    font-weight: $font-weight-bold !important;
    Margin-bottom: 0 !important;
  }
}
