// 
//  Lead Story
//  ---------------------------------



@include bp(sm) {
  .leadstory .inner {
    text-align: left !important;
  }
}

.leadstory h1 {
  Margin-bottom: 0;
  color: $link-color;
}

.leadstory h3 {
  Margin-top: floor($line-height-computed / 3);
}
