table.outer
  tr
    td.full-width-image
      a(href='#', target='_blank')
        img(src='http://placehold.it/900x400', width='600', alt='')
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.leadstory
            h1
              a(href='#', target='_blank') Lorem ipsum dolor sit amet
            p Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
            include ../buttons/btn-lg.jade
