// Event list
//---------------------


.event-image {
  @include column-width($content-area / 3);
}

.event-description {
  @include column-width($content-area / 2);
}

.event-rsvp {
  @include column-width($content-area / 6);
  
  .btn-sm-container {
    width: 100%;
  }
}

.event-hr {
  border-bottom: 1px solid $aside-background;
  Margin-left: $container-padding;
  Margin-right: $container-padding;
}

.event-more {
  font-weight: $font-weight-bold;
  text-align: center;
}

.event-description .contents {
  text-align: center;

  @include bp() {
    text-align: left !important;
  }
}

@include bp(sm) {
  .event-description,
  .event-image {
    max-width: 100% !important;
  }
  
  .event-description .contents {
    text-align: center !important;
  }  
  
  .event-description .inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .event-rsvp {
    max-width: 130px !important;
  }
}
