// Event list
//---------------------


.event-list .event:last-child .event-hr {
  display: none;
}

@include bp(sm) {

  .event-desc {
    .contents {
      text-align: center !important;
    }
  }

  .cont .event-rsvp {
    max-width: 130px !important;
  }
}