// Event list
//---------------------

.event-hr {
  border-bottom: 1px solid $aside-background;
  Margin-left: $container-padding;
  Margin-right: $container-padding;
}

.event-more {
  font-weight: $font-weight-bold;
  text-align: center;
}