include ../buttons/btn.jade
table.outer
  each event in events
    tr(mc:repeatable="eventlist")
      td.event-list.sidebar
        <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><td width="33%"><![endif]-->
        .column.event-image
          table(width='100%')
            tr
              td.inner
                img(src="http://placehold.it/285x160", width="190", alt="", mc:edit="event-image")
                  
        <!--[if (gte mso 9)|(IE)]></td><td width="50%"><![endif]-->
        .column.event-description
          table(width='100%')
            tr
              td.inner.contents
                h5(mc:edit="event-title")
                  a(href="#", target="_blank") #{event.title}
                a.textlink(mc:edit="event-desc") #{event.desc}
        
        <!--[if (gte mso 9)|(IE)]></td><td width="17%"><![endif]-->  
        .column.event-rsvp
          table(width='100%')
            tr
              td.inner
                +btn("event-btn","sm", "RSVP", "btn-block btn-secondary", "#ffffff")
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        .event-hr
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.event-more(mc:edit="event-more")
            a(href="http://www.alumni.fordham.edu/calendar/list.aspx", target="_blank") +20 more events this month. View the calendar.
