// Social Icons
//---------------------

.social {
  text-align: center;
  padding-top: $container-gutter * 1.5;
  padding-bottom: 0;
  
  img {
    max-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
