table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.contents.inner.social
            a(href="#", target="_blank")
              img(src="a8bd4a4f-d450-420e-92df-28a297517a85.png", width="30", alt="Twitter")
            a(href="#", target="_blank")
              img(src="470fbd3a-ab16-46c1-8335-a647873b08f8.png", width="30", alt="Facebook")
            a(href="#", target="_blank")
              img(src="384fad13-81b1-4e54-b9ac-4610ac7bbc55.png", width="30", alt="Instagram")
