table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.contents.inner.social
            a(href="#", target="_blank")
              img(src="img/twitter.png", width="30")
            a(href="#", target="_blank")
              img(src="img/facebook.png", width="30")
            a(href="#", target="_blank")
              img(src="img/instagram.png", width="30")
