table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.contents.social
            a(href="#", target="_blank")
              img(src="img/twitter.png")
            a(href="#", target="_blank")
              img(src="img/facebook.png")
            a(href="#", target="_blank")
              img(src="img/instagram.png")
