table.outer
  tr
    td.one-column
      table(width='100%')
        tr
          td.contents.inner.social(mc:edit="social")
            a(href="https://www.facebook.com/FordhamAlumni", target="_blank")
              img(src="img/facebook.png", width="30", alt="Facebook")
            a(href="https://twitter.com/fordhamalumni", target="_blank")
              img(src="img/twitter.png", width="30", alt="Twitter")
            a(href="https://www.instagram.com/fordhamalumni/", target="_blank")
              img(src="img/instagram.png", width="30", alt="Instagram")
