// 
//  Buttons
//  ---------------------------------

/*
@tab Button
@section Button
@tip Set the style for the default button
@style button
*/

.btn,
.btn-container td {
  /*@editable*/ background-color: $btn-background;
  border-radius: 4px;
}

/*
@tab Button
@section Button
@tip Set the style for the default button
@style button
*/

.btn {
  display: inline-block;
  text-align: center;
  /*@editable*/ border: 1px solid $btn-border;
  /*@editable*/ color: $btn-color;
  /*@editable*/ font-size: $font-size-base;
  /*@editable*/ padding-top: 7px;
  /*@editable*/ padding-bottom: 7px;
  /*@editable*/ padding-left: 40px;
  /*@editable*/ padding-right: 40px;
  font-weight: $font-weight-bold;
  transition: background .3s;
}

/*
@tab Button
@section Button Hover
@tip Set the hover style for the default button
*/

.btn:hover {
  /*@editable*/ background-color: darken($btn-background, 5%) !important;
  /*@editable*/ border-color: darken($btn-border, 5%) !important;
}


/*
@tab Button
@section Small Button
@tip Set the style for the small button
@style button small
*/

.btn-sm,
.btn-sm-container td {
  /*@editable*/ background-color: $btn-background;
  border-radius: 3px;
}

/*
@tab Button
@section Small Button
@tip Set the style for the small button
@style button small
*/

.btn-sm {
  display: inline-block;
  text-align: center;
  /*@editable*/ color: $btn-color;
  /*@editable*/ border: 1px solid $btn-border;
  /*@editable*/ font-size: floor($font-size-base * 0.9);
  /*@editable*/ padding-top: 5px;
  /*@editable*/ padding-bottom: 5px;
  /*@editable*/ padding-left: 20px;
  /*@editable*/ padding-right: 20px;
  font-weight: $font-weight-bold;
  transition: background .3s;
}


/*
@tab Button
@section Small Button
@tip Set the style for the small button
@style button large
*/

.btn-lg,
.btn-lg-container td {
  /*@editable*/ background-color: $btn-background;
  border-radius: 5px;
}

/*
@tab Button
@section Large Button
@tip Set the style for the large button
@style button large
*/

.btn-lg {
  display: inline-block;
  text-align: center;
  /*@editable*/ color: $btn-color;
  /*@editable*/ border: 1px solid $btn-border;
  /*@editable*/ font-size: floor($font-size-base * 1.35);
  /*@editable*/ padding-top: 8px;
  /*@editable*/ padding-bottom: 8px;
  /*@editable*/ padding-left: 50px;
  /*@editable*/ padding-right: 50px;
  font-weight: $font-weight-bold;
  transition: background .3s;
}


@include bp(sm) {

  /*
  @tab Button
  @section Button Large Mobile
  @tip Set the small screen font-size for the large button
  */

  .btn-lg {
    /*@editable*/ font-size: floor($font-size-base * 1.2) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .btn-lg,
  .btn-lg-container {
    width: 100% !important;
  }
}

/*
@style button block
*/

.btn-block {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}

.btn-block-container {
  width: 100%;
}

/*
@tab Button
@section Button Secondary
@tip Set the style for the secondary button
*/

.btn-secondary,
.btn-secondary-container td {
  /*@editable*/ background-color: $btn-secondary-background;
}

/*
@tab Button
@section Button Secondary
@tip Set the style for the secondary button
*/

.btn-secondary {
  /*@editable*/ border: 1px solid $btn-secondary-border;
  /*@editable*/ color: $btn-secondary-color;
}

/*
@tab Button
@section Button Secondary Hover
@tip Set the hover style for the secondary button
*/

.btn-secondary:hover {
  /*@editable*/ background-color: darken($btn-secondary-background, 5%);
  /*@editable*/ border-color:  darken($btn-secondary-border, 5%);
}