// 
//  Buttons
//  ---------------------------------

.btn-container td {
  @include border-radius(4px);
}
@media screen and(max-width: $screen-sm) {
  .btn-lg-container {
    width: 100% !important;
  }
}
.btn-lg-container td {
  @include border-radius(5px);
}
.btn-sm-container td {
  @include border-radius(3px);
}

.btn-spacer {
  font-size: 10px;
  line-height: 10px;
  height: 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 40px;
  background: $btn-background;
  color: $btn-color;
  border: 1px solid darken($btn-background, 10%);
  @include border-radius(4px);
  font-weight: $font-weight-bold;
  transition: background .3s;
  
  &:hover {
    background: darken($btn-background, 5%);
  }
}
.btn-sm {
  font-size:floor($font-size-base * 0.9);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  @include border-radius(3px);
}
.btn-lg {
  font-size: floor($font-size-base * 1.35);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  @include border-radius(5px);
  
  @media screen and(max-width: $screen-sm) {
    font-size: floor($font-size-base * 1.2) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100% !important;
  }
}
.btn-block {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
.btn-secondary {
  background: $btn-secondary-background;
  border: 1px solid $btn-secondary-border;
  color: $btn-secondary-color;
  
  &:hover {
    background: darken($btn-secondary-background, 5%);
  }
}
