// 
//  Buttons
//  ---------------------------------


/**
@tab Button
@section Buttons
@tip Set the style for the default buttons
*/

.btn,
.btn-sm,
.btn-lg{
  /*@editable*/ background-color: $btn-background;
  /*@editable*/ border-color: $btn-background;
  border-style: solid;
  /*@editable*/ box-shadow: 0 0 0 1px $btn-border;
  /*@editable*/ color: $btn-color;
  display: inline-block;
  font-weight: $font-weight-bold;
  text-align: center;
  transition: all .3s;
}

/**
@tab Button
@section Buttons Hover
@tip Set the hover style for the default button
*/

.btn,
.btn-sm,
.btn-lg {
  &:hover {
    /*@editable*/ background-color: darken($btn-background, 5%) !important;
    /*@editable*/ border-color: darken($btn-background, 5%) !important;
    /*@editable*/ box-shadow:0 0 0 1px darken($btn-border, 5%) !important;

  }
}

/**
@tab Button
@section Regular Button
@tip Set the style for the default button
@style button
*/

.btn {
  /*@editable*/ border-width: 7px 40px;
  border-radius: 4px;
  /*@editable*/ font-size: $font-size-base;
}

/**
@tab Button
@section Small Button
@tip Set the style for the small button
@style button small
*/

.btn-sm {
  /*@editable*/ border-width: 5px 20px;
  border-radius: 3px;
  /*@editable*/ font-size: floor($font-size-base * 0.9);
}

/**
@tab Button
@section Large Button
@tip Set the style for the large button
@style button large
*/

.btn-lg {
  /*@editable*/ border-width: 8px 50px;
  border-radius: 5px;
  /*@editable*/ font-size: floor($font-size-base * 1.35);
}


@include bp(sm) {

  /**
  @tab Button
  @section Large Button Mobile
  @tip Set the small screen font-size for the large button
  */

  .btn-lg {
    /*@editable*/ font-size: floor($font-size-base * 1.2) !important;
    display: block !important;
  }
}

/**
@tab Button
@section Button Block
@style button block
*/

.btn-block {
  border-left-width: 5px;
  border-right-width: 5px;
  display: block;
}

/**
@tab Button
@section Secondary Button
@tip Set the style for the secondary button
*/

.btn-secondary {
  /*@editable*/ background-color: $btn-secondary-background;
  /*@editable*/ border-color: $btn-secondary-background;
  /*@editable*/ box-shadow: 0 0 0 1px $btn-secondary-border;
  /*@editable*/ color: $btn-secondary-color;
}

/**
@tab Button
@section Secondary Button Hover
@tip Set the hover style for the secondary button
*/

.btn-secondary:hover {
  /*@editable*/ background-color: darken($btn-secondary-background, 5%) !important;
  /*@editable*/ border-color: darken($btn-secondary-background, 5%) !important;
  /*@editable*/ box-shadow: 0 0 0 1px darken($btn-secondary-border, 5%) !important;
}