// 
//  Buttons
//  ---------------------------------

.btn {
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 40px;
  background: $btn-background;
  color: $btn-color;
  border: 1px solid darken($btn-background, 10%);
  border-radius: 4px;
  letter-spacing: .05em;
  font-weight: $font-weight-bold;
}
.btn-sm {
  font-size:floor($font-size-base * 0.9);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  letter-spacing: .06em;
  
}
.btn-lg {
  font-size: floor($font-size-base * 1.4);
  Margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
  letter-spacing: .03em;
  
  @media screen and(max-width: $screen-sm) {
    font-size: floor($font-size-base * 1.2);
  }
}
.btn-block {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
.btn-secondary {
  background: $btn-secondary-background;
  border: 1px solid $btn-secondary-border;
  color: $btn-secondary-color;
}
