mixin btn(namespace, options)
  - namespace = (namespace) ? namespace + '-' : ''
  - var settings = Object.assign({size: '', secondary: false}, options)

  - var btnclass = "btn"
  - var btncontainer = "btn-container"

  if settings.size === "small" || settings.size === "sm"
    - btnclass = "btn-sm"
    - btncontainer = "btn-sm-container"
  if settings.size === "large" || settings.size === "lg"
    - btnclass = "btn-lg"
    - btncontainer = "btn-lg-container"
  if settings.secondary
    - btnclass = btnclass + " btn-secondary"
    - btncontainer = btncontainer + " btn-secondary-container"

  table(width="100%", border="0", cellspacing="0", cellpadding="0", mc:hideable)
    tbody
      tr
        td(align="center")
          table(class=btncontainer)
            tbody
              tr
                td(align="center", mc:edit=`${namespace}button`)
                  a(href="#", target="_blank", class=btnclass)
                    <!--[if (mso)]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->
                    if block
                      block
                    else
                      | Button
                    <!--[if (mso)]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->
