mixin btn(namespace, size, text, cl)
  - namespace = namespace || "Button"
  - text = text || "Button"
  - background = background || "#900028"
  - cl = cl || ""
  - btnsize = ""

  if size === "small" || size === "sm"
    - btnsize = "btn-sm"
  if size === "large" || size === "lg"
    - btnsize = "btn-lg"

  table(width="100%", border="0", cellspacing="0", cellpadding="0", mc:hideable)
    tbody
      tr
        td(align="center")
          table(class="#{btnsize}-container")
            tbody
              tr
                td(align="center", mc:edit=namespace)
                  a.btn(href="#", target="_blank", class="#{btnsize} #{cl}") <!--[if (mso)]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->#{text}<!--[if (mso)]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->
