// 
//  Full ad
//  ---------------------------------


.fullad img,
.fullad-img img {
  display: block;
}

.fullad {
  padding: $container-gutter ($outer-padding + $container-padding);

  .col {
    max-width: $content-area / 3 - $container-padding * 2;

  	.inner {
      padding: 0;
  	}
  }

	.col-2 {
      max-width: $content-area / 1.5;

  	.inner {
      padding: $container-padding floor($container-padding * 1.5);
  	}
  }
}

.fullad-img {
  padding-bottom: $container-gutter;
}

