// 
//  Full ad
//  ---------------------------------


.fullad-container {
  background: $primary-color;
}

.fullad {
  padding-top: $container-gutter;
  padding-bottom: $container-gutter;
  padding-left: ($outer-padding + $container-padding);
  padding-right: ($outer-padding + $container-padding);
  
  @include bp(md) {
    padding-left: $container-padding !important;
    padding-right: $container-padding !important;
  }
  
  @include bp(sm) {
    padding: 0 !important;
  }
  
  a {
    color: #ffffff;
    display: block;
  }
  
  img {
    display: block;
  }
  
  .column {
		max-width: $content-area / 3 - $container-padding;
	
  	.contents {
    	text-align: left;
  	}
  	
  	.inner {
      padding: 0;
    	padding-right: $container-padding;
  	}
	}
	
	.column-2 {
		max-width: $content-area / 3 * 2 - $container-padding;
  	
  	.inner {
    	padding: $container-padding;
  	}
	}
}

@include bp(sm) {
  .fullad {
    .contents {
      text-align: center !important;
    }
    
    .column, .column-2 {
      max-width: 100% !important;
    }
    
    .column .inner {
      padding: $container-gutter $container-padding 0 $container-padding !important;
    }
    
    img {
      display: inline !important;
    }
  }
}
