// 
//  Full ad
//  ---------------------------------


.fullad {
  padding: $container-gutter ($outer-padding + $container-padding);

  .column {
    max-width: $content-area / 3 - $container-padding * 2;

  	.inner {
      padding: 0;
  	}
  }

	.column-2 {
      max-width: $content-area / 3 * 2;

  	.inner {
      padding: $container-padding ($container-padding * 1.5);
  	}
  }
}

.fullad-image {
  padding-bottom: $container-gutter;
}