table.outer
  tr(mc:repeatable="fullad", mc:variant="Image with Text")
    td.three-column.fullad
      .fullad-container
        <!--[if (gte mso 9)|(IE)]><table width="100%" bgcolor="#900028"><![endif]-->
        <!--[if (gte mso 9)|(IE)]><tr><td width="#{(width-30) / 3}" valign="top"><![endif]-->
        
        .column
          table(width="100%")
            tr
              td.inner.contents
                img(mc:edit="fullad-image", src='http://placehold.it/285x190', width="190", alt="")
        
        <!--[if (gte mso 9)|(IE)]></td><td width="#{(width-30) / 3 * 2}" valign="top"><![endif]-->
        
        .column-2
          table(width="100%")
            tr
              td.inner.contents(mc:edit="fullad-content")
                a(href="#", target="_blank")
                  | Class aptent taciti sociosqu ad litora per nostra, per inceptos himenaeos.
        
        <!--[if (gte mso 9)|(IE)]></td></tr><![endif]-->
        <!--[if (gte mso 9)|(IE)]></table><![endif]-->
  if dev !== true
    tr(mc:repeatable="fullad", mc:variant="Full-width Image")
      td.one-column
        .column
          table(width="100%")
            tr
              td.inner.contents(mc:edit="fullad-image")
                a(href="#", target="_blank")
                  img(src='http://placehold.it/945x190', width="630", alt="")
        
        
