mixin fullad(imageonly)
  if (imageonly)
    td.inner.contents.fullad-img(mc:edit="fullad-content")
      img(src='http://quickimage.it/945x190', width="630", alt="")

  else
    td.cont.cont-3.fullad
      .fullad-cont
        <!--[if (gte mso 9)|(IE)]><table width="100%" bgcolor="#900028"><tr><td width="#{width / 3 - 30}" valign="top"><![endif]-->

        .col
          table(width="100%")
            tr
              td.inner.contents
                img(mc:edit="fullad-image", src='http://quickimage.it/285x190', width="190", alt="")

        <!--[if (gte mso 9)|(IE)]></td><td width="#{width / 1.5 - 30}" valign="top"><![endif]-->

        .col-2
          table(width="100%")
            tr
              td.inner.contents(mc:edit="fullad-content")
                block
                if (!block)
                  | This is the text of the column. It's not very long, but it's long enough to show typeset text.

        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->