mixin fullad(imageonly)
  if (imageonly)
    td.inner.contents(mc:edit="fullad-image")
      img.fullad-image(src='http://placehold.it/945x190', width="630", alt="")

  else
    td.container.three-column.fullad
      .fullad-container
        <!--[if (gte mso 9)|(IE)]><table width="100%" bgcolor="#900028"><![endif]-->
        <!--[if (gte mso 9)|(IE)]><tr>
        td(width=`${(width-30) / 3}`, valign="top")
        <![endif]-->

        .column
          table(width="100%")
            tr
              td.inner.contents
                img(mc:edit="fullad-image", src='http://placehold.it/285x190', width="205", alt="")

        <!--[if (gte mso 9)|(IE)]></td>
        td(width=`${(width-30) / 3 * 2}`, valign="top")
        <![endif]-->

        .column-2
          table(width="100%")
            tr
              td.inner.contents(mc:edit="fullad-content")
                if block
                  block
                else
                  | This is the text of the column. It's not very long, but it's long enough to show typeset text.

        <!--[if (gte mso 9)|(IE)]></td></tr><![endif]-->
        <!--[if (gte mso 9)|(IE)]></table><![endif]-->