extends ../_layouts/default/default
include ../_components/break/break
include ../_components/columns/columns
include ../_components/preheader/preheader
include ../_components/sectionheader/sectionheader
include ../_components/masthead/masthead
include ../_components/footer/footer
include ../_components/social/social
include ../_components/socialcard/socialcard
include ../_components/eventlist/eventlist
include ../_components/tagline/tagline

block style-template
  <!-- build:css inline styles/style.css -->
  link(rel='stylesheet', href='styles/fordhamnews.css', data-premailer='ignore')
  link(rel='stylesheet', href='styles/fordhamnews-editable.css', data-premailer='ignore')
  <!-- /build -->
  link(rel='stylesheet', href='styles/fordhamnews-inlined.css')


block body
  center.wrapper
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        tr
          +preheader() From Our Campus to Your Inbox
        each masthead in mastheads
          tr
            +masthead(masthead)
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        tr(mc:repeatable="news", mc:variant="additional stories")
          td.cont.cont-64
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {size: 4, aspect: 1.75, fullimage: true, title: false, body: false})
            +column("column-2", {size: 6, aspect: false, heading: "h3", title: "Article Title", break: false, textlink: true })
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
            .break &nbsp;
        tr(mc:repeatable="news", mc:variant="lead story")
          td
            table(width="100%")
              tr
                +column("column", {size: 1, aspect: 1.75, title: false, body: false})
              tr
                +column("column-2", {size: 1, aspect: false, heading: "h3", title: "Article Title", hidebreak: false, textlink: true})
        tr(mc:repeatable="news", mc:variant="alert")
          td.inner.contents
            table(width="100%")
              tr
                td(mc:edit="column-2-desc", style="padding: 12px 25px; background-color: #fcfcfb; border: 1px solid #c7c2b6;") This is dummy copy. It has been placed here to demonstrate the look and feel of finished, typeset text.
              tr
                +break
        tr
          +break
      table.outer.if-list(mc:repeatable="insidefordham" mc:variant="list")
        tr
          +sectionheader2("column")
        tr
          td.inner.contents.h4(mc:edit="column-2-desc")
            ul
              li Someday this space will be occupied by real copy that is meant to be read.
              li It is strictly for mock-ups. You may mock it up as strictly as you wish.
      table.outer.if-list(mc:repeatable="insidefordham" mc:variant="list with image")
        tr
          +sectionheader2("column")
        tr
          td.cont.cont-3.col-img-full
            <!--[if (gte mso 9)|(IE)]><table width="100%"><tr><![endif]-->
            +column("column", {size: 3, aspect: 1.75, fullimage: true, title: false, body: false})
            +column("column-2", {size: 23, aspect: false, title: false, break: false, hidecontent: false})
              ul
                li Someday this space will be occupied by real copy that is meant to be read.
                li It is strictly for mock-ups. You may mock it up as strictly as you wish.
            <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
        tr
          +break
      table.outer(mc:repeatable="insidefordham" mc:variant="event list")
        tr
          +sectionheader2("column")
        tr
          td.inner.contents.event-list2
            +eventlist2(null, {month: "Aug", day: 14, title: "Yankee Stadium Tour and Game"})
            +eventmore(null, false)
              a(href="https://news.fordham.edu/events", target="_blank") See a complete list of events.
            .break-cont &nbsp;
      .break-cont &nbsp;

      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

  center.wrapper.pq-cont
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center" bgcolor="#eeeeee"><tr><td><![endif]-->
    table.outer
      tr
        td.inner.section-header2(style="padding-bottom: 15px")
          .break-cont &nbsp;
          .contents(mc:edit="social-sectionheader") On Social Media
      tr
        td.cont.cont-2
          <!--[if (gte mso 9)|(IE)]><table><tr><![endif]-->
          <!--[if !mso]><!--><div style="display:inline-block" mc:repeatable="socialcard"><!--<![endif]-->
          +socialcard("column")
          <!--[if !mso]><!--></div><!--<![endif]-->
          <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
          .break2 &nbsp;
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    <!--[if (gte mso 9)|(IE)]><table width="100%" align="center"><tr><td><![endif]-->
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="730" align="center"><tr><td><![endif]-->
      table.outer
        tr
          +break
        tr
          +tagline
        tr
          +social(socialuniversity)
        tr
          +footer
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
