extends ../_layouts/default/default.jade
include ../_components/columns/columns.jade
include ../_components/columns/sixtyfortycolumn.jade
include ../_components/sectionheader/sectionheader.jade

block style-template
  <!-- build:css inline styles/fordhamnews.css -->
  link(rel='stylesheet', href='styles/fordhamnews.css')
  <!-- /build -->

block body
  center.wrapper.header
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/preheader/preheader.jade
      include ../_components/masthead/masthead.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--aside
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/social-banner/social-banner.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      if dev === true
        .news(mc:repeatable="news", mc:variant="lead story")
          +column("news", 1, 1.75, "h3")
      .news(mc:repeatable="news", mc:variant="additional stories")
        +column-sixtyforty("news")
      if dev !== true
        .news(mc:repeatable="news", mc:variant="lead story")
          +column("news", 1, 1.75, "h3")
      include ../_components/break/break.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/break/break-dashed.jade
      include ../_components/insidefordham/insidefordham.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--aside.pullquote-container
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/pullquote/pullquote.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  - social = false
