extends ../_layouts/default/default
include ../_components/break/break
include ../_components/columns/columns
include ../_components/columns/sixtyfortycolumn
include ../_components/sectionheader/sectionheader

block style-template
  <!-- build:css inline styles/fordhamnews.css -->
  link(rel='stylesheet', href='styles/fordhamnews.css')
  <!-- /build -->

block body
  center.wrapper.header
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/preheader/preheader
      include ../_components/masthead/masthead
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--aside.social-banner--container
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/social-banner/social-banner
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      if dev === true
        .news(mc:repeatable="news", mc:variant="lead story")
          +column("news", 1, 1.75, "h3")
      .news(mc:repeatable="news", mc:variant="additional stories")
        +column-sixtyforty("news")
      if dev !== true
        .news(mc:repeatable="news", mc:variant="lead story")
          +column("news", 1, 1.75, "h3")
      +break
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      +break("dashed")
      include ../_components/insidefordham/insidefordham
      +break
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--aside
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/pullquote/pullquote
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  - var social = false
