extends ../_layouts/default/default.jade

block title
  title Fordham Newsletter

block body
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
      table.outer.header(align='center')
        tr
          td.one-column
          
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
