extends ../_layouts/default/default.jade
include ../_components/break/break.jade
include ../_components/columns/columns.jade
include ../_components/sectionheader/sectionheader.jade

block style-template
  <!-- build:css inline styles/newsletter.css -->
  link(rel='stylesheet', href='styles/newsletter.css')
  <!-- /build -->

block body
  center.wrapper.header.color-block.color-block--header
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/preheader/preheader.jade
      include ../_components/masthead/masthead.jade
      include ../_components/masthead/masthead-dual.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--lead
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/sectionwrappers/sectiontop.jade
      include ../_components/leadstory/leadstory.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      +break
      include ../_components/sectionwrappers/sectionbottom.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--aside.break-container
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      +break
      +break
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/sectionwrappers/sectiontop.jade
      +sectionheader("featured")
      .featured(mc:repeatable="featured", mc:variant="two column")
        +column("featured")
      if dev !== true
        .featured(mc:repeatable="featured", mc:variant="three column")
          +column("featured", 3, 1.5)
      include ../_components/articlelist/articlelist.jade
      include ../_components/sectionwrappers/sectionbottom.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--aside
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      +break
      .ads(mc:repeatable="ads", mc:variant="three column")
        +column("ads", 3, 1.5)
      if dev !== true
        .ads(mc:repeatable="ads", mc:variant="two column")
          +column("ads")
      +break
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/sectionwrappers/sectiontop.jade
      +sectionheader("eventlist")
      include ../_components/eventlist/eventlist.jade
      include ../_components/sectionwrappers/sectionbottom.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper.color-block.color-block--aside.break-container
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      +break
      include ../_components/fullad/fullad.jade
      +break
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
  center.wrapper
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="790" align="center"><tr><td><![endif]-->
      include ../_components/sectionwrappers/sectiontop.jade
      +sectionheader("supplement")
      .supplement(mc:repeatable="supplement", mc:variant="one column")
        +column("supplement", 1)
      if dev !== true
        .supplement(mc:repeatable="supplement", mc:variant="two column")
          +column("supplement")
        .supplement(mc:repeatable="supplement", mc:variant="three column")
          +column("supplement", 3, 1.5)
      include ../_components/sectionwrappers/sectionbottom.jade
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
