extends ../_layouts/default/default.jade

block title
  title Fordham Newsletter
block style-template
  link(rel='stylesheet', type='text/css', href='styles/newsletter.css')

block body
  center.wrapper.header
    .webkit
      <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
      include ../_components/preheader/preheader.jade
      include ../_components/masthead/masthead.jade
  center.wrapper.lead
    .webkit
      include ../_components/leadstory/leadstory.jade
  center.wrapper
    .webkit
      include ../_components/columns/twocolumn.jade
  center.wrapper
    .webkit
      include ../_components/articlelist/articlelist.jade
          
      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
