.masthead {
  .column,
  .column-2 {
    vertical-align: bottom;
  }

  .inner {
    padding-top: 0;
  }

  .contents {
    .masthead--brand {
      max-width: 630px;
      overflow: visible;
    }
  }
}
