.masthead {
  .column,
  .column-2 {
    vertical-align: bottom;
  }

  img {
    overflow: visible;
  }

  .inner {
    padding-top: 0;
  }

  .contents {
    .masthead--brand {
      max-width: 165px;
    }
    .masthead--gabelli {
      max-width: 232px;
    }
    .masthead--fclc {
      max-width: 306px;
    }
    .masthead--fcrh {
      max-width: 256px;
    }
    .masthead--gre {
      max-width: 248px;
    }
    .masthead--gre2 {
      max-width: 218px;
    }
    .masthead--gsas {
      max-width: 328px;
    }
    .masthead--gse {
      max-width: 262px;
    }
    .masthead--gss {
      max-width: 295px;
    }
    .masthead--law {
      max-width: 123px;
    }
    .masthead--pcs {
      max-width: 197px;
    }
    .masthead--pcs2 {
      max-width: 210px;
    }
  }

  .column .masthead-logo {
    padding-left: 0;
    text-align: center;
  }
}
/*
@tab Header
@section Masthead Title
@tip Set the style for masthead text
*/

.masthead .column-2 .masthead-cobrand {
  /*@editable*/ font-size: floor($font-size-base * 1.1);
  font-weight: $font-weight-bold;
  line-height: 1.3;
  text-align: center;
  padding-right: 0;
}
@include bp(){
  .masthead-logo {
    text-align: left !important;
  }
  .masthead .masthead-logo .masthead--brand {
    max-width: 165px !important;
  }
  .masthead-cobrand {
    text-align: right !important;
  }
}

.masthead-single .contents {
  text-align: center;
}

@include bp(md) {
  .column {
    vertical-align: top !important;
  }
  
  .masthead .masthead-logo {
    padding-left: $container-padding !important;
  }
  
  .masthead-cobrand {
    padding-right: $container-padding !important;
  }
}

@include bp(sm-md) {
  .masthead {
    .column {
      max-width: 45% !important;
    }
    .column-2 {
      max-width: 55% !important;
    }
  }
}

@include bp(sm) {
  .masthead {
    .contents {
      text-align: center !important;
  	}
  }
  
  .masthead-logo {
    padding-bottom: 10px !important;
  }
}
