.masthead {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
  
	img {
		max-width: 165px;
	
  	@media screen and(max-width: $screen-sm) {
  		max-width: 165px !important;
  	}
	}
}
