//
//  Masthead
//  ---------------------------------


.masthead {
  text-align: center;

  img {
    width: 100%;
  }
}

.masthead,
.masthead-dual .inner {
  padding-top: $container-gutter - 10px;
  padding-bottom: $container-gutter;
}

.masthead-dual {
  .col, .col-2 {
    vertical-align: bottom;
  }
  .col-2 .contents {
    line-height: 1;
    text-align: right;
    font-weight: $font-weight-bold;
  }
}