table.outer.header
  tr
    td.one-column.masthead.masthead--single
      table(width='100%')
        tr
          td.inner.contents
              a(href='http://forever.fordham.edu', target='_blank')
                img(src='e761d4e5-9589-4420-b609-a1dfaf2cc9c4.png', width='165', alt='Fordham University')
