table.outer.header
  tr
    td.one-column.masthead.masthead-single
      table(width='100%')
        tr
          td.inner.contents
              a(href='http://news.fordham.edu', target='_blank')
                img.masthead--brand(src='img/fordham-news.png', width='630', alt='Fordham News: The Latest From Fordham University')
