table.outer.header
  tr
    td.one-column
      table(width='100%')
        tr
          td.inner.contents.masthead
              a(href='http://forever.fordham.edu', target='_blank')
                img(src='img/fordham.png', width='165', alt='Fordham University')
