table.outer.header
  tr
    td.three-column.masthead
      <!--[if (gte mso 9)|(IE)]><table width="100%"><![endif]-->
      <!--[if (gte mso 9)|(IE)]><tr><td width="33%" valign="top"><![endif]-->
      
      .column
        table(width='100%')
          tr
            td.inner.contents.masthead--logo
              a(href='http://forever.fordham.edu', target='_blank')
                img(src='e761d4e5-9589-4420-b609-a1dfaf2cc9c4.png', width='165', alt='Fordham University')
      
      <!--[if (gte mso 9)|(IE)]></td><td width="67%" valign="top"><![endif]-->
      
      .column-2
        table(width='100%')
          tr
            td.inner.contents.masthead--cobrand
              | Lorem Ipsum Dolor Sit
      
      <!--[if (gte mso 9)|(IE)]></td></tr><![endif]-->
      <!--[if (gte mso 9)|(IE)]></table><![endif]-->

