table.outer.header
  tr
    td.one-column.masthead.masthead--single
      table(width='100%')
        tr
          td.inner.contents
              a(href='http://forever.fordham.edu', target='_blank')
                img(src='img/fordham-white.png', width='165', alt='Fordham University')
