table.outer.header
  tr
    td.one-column.masthead.masthead-single
      table(width='100%')
        tr
          td.inner.contents
              a(href='http://news.fordham.edu', target='_blank')
                img.masthead--brand(src='44e14c0b-bc00-4b8b-9792-d1cbd34a0c07.png', width='630', alt='Fordham News: The Latest From Fordham University')
