// Base style overrides
//---------------------

$base-background:             #ffffff;
$content-background:          none;
$content-border-width:        0px;
$btn-secondary-background:    #ffffff;


// Default styles
//-------------------

@import "base";


// Components
//-------------------

@import "masthead.scss";
@import "preheader.scss";
@import "colorblocks.scss";
@import "buttons.scss";
@import "event.scss";
@import "sectionheader.scss";
@import "giving.scss";
@import "social.scss";
@import "footer.scss";
