mixin preheader(hidden)
  td.inner.contents.preheader-cont(class=`${(hidden) ? "preheader-hidden" : "preheader-visible"}`)
    .preheader(mc:edit="preheader")
      block
      if (!block)
        | Preheader goes here. Think of it as a second subject.