mixin preheader(hidden)
  td.inner.contents.preheader-container(mc:edit="preheader", class=`${(hidden) ? "preheader-hidden" : ""}`)
    .preheader
      block
      if (!block)
        | Preheader goes here. Think of it as a second subject.